/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  color: #aa00aa;
  background-color: #33bbbb;
  margin: 20px;
}

h1 {

  font-style: normal;
  color: white;
  font-weight: bold;
  font-family: impact, fantasy, sans-serif;
  font-size: 40px;
  text-align: center;
}

button {
background-color: lightgray;
text-align:center;
color:black;
padding:15px 32px;
font-size: 16px;
margin: 4px 2px;
}

span{
  font-weight: bold;
  font-size: 25 px;
  width: 30px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}