/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  color: #aa00aa;
  margin: 200px;
}

h1 {
  font-style: italic;
  color: #007580;
  font-weight: bold;
  font-family: "Lucida Grande", fantasy, sans-serif;
  font-size: 60px;
  text-align: center;

}
